{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Living in the Now">
		<meta name="author" content="dangermouse">
		{% block title %}
			{% if title %}{{ title }} - PitchView{% else %}Welcome to PitchView{% endif %}
		{% endblock %}
		
		<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">		
	</head>
  
    <body>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}

		{% block content %}
    		<div class="container">
        	{% with messages = get_flashed_messages() %}
        		{% if messages %}
            		{% for message in messages %}
            			<div class="alert alert-info" role="alert">{{ message }}</div>
            		{% endfor %}
        		{% endif %}
        	{% endwith %}

        	{# app content goes heeeereee #}
			{% block app_content %}
			
			{% endblock %}
    		</div>
		{% endblock %}
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  
  </body>


