{% extends "base.html" %}

{% block app_content %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Living in the Now">
    <meta name="author" content="dangermouse">
  
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    
  
  </head>
  
  <body>


<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">\(0-0)/</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
          <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{current_user.username}}'s Dashboard
              </a>
              

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                
              <a class="dropdown-item" href="">Edit Profile</a>
              <a class="dropdown-item" href="main.create_blog">Create a Blog</a>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
              
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of Navigation -->
  <br>
  <br>
  <br>
  <br>

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  
  </body>


    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ user.username }}'s Profile</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>Last seen: {{ user.last_seen }}</p>
                <button> <p><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></p></button>
               
                <!-- <p><a href="{{ url_for('main.post_pitch') }}">Pitch It</a></p> -->
                {% endif %}
               
            </td>
        </tr>
    </table>
    <h1>Your Pitches</h1>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

